.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
body
{
    background-size: cover;
}
.div_song_name_word
{
    float: center;
}
#song_name_word
{
    font-size: 23px;
    margin: 15px;
}
.div_song_name
{
    float: center;
}
#song_name
{
    font-size: 23px;
    margin: 15px;
}
canvas
{
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
    float: center;
}